<div class="radicale-calendar-wrapper">
  <div class="calendar-header">
    <h1>My Calendar</h1>
    <p class="calendar-subtitle">Events from Radicale CalDAV Server</p>
  </div>
  <div id="radicale-calendar" class="radicale-calendar"></div>
  <div class="calendar-footer">
    <p><small>Add events to your Radicale server at <a href="http://127.0.0.1:5232" target="_blank">127.0.0.1:5232</a></small></p>
  </div>
</div>